<div class="header-container px-5 py-3 d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
        <mat-icon class="header-icon">local_library</mat-icon>
        <span>Books Cart</span>
    </div>
    <input class="search-bar" placeholder="Search books or authors" type="text" />
    <div class="d-flex align-items-center">
        <mat-icon class="header-icon">shopping_cart</mat-icon>
        <button type="button" class="btn btn-warning">Login</button>
    </div>
</div>