.dashboard-para {
    margin-left: 25px;
    color: red;
}

.iteration-container {
    max-width: 660px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
}

.red-background {
    background: #ff0000;
}

.blue-background {
    background: #42adde;
}